.home{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
    position: relative;
    height: calc(100vh - 90px);
    overflow: overlay;
}

.home__table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 4px;
    min-width: 900px;
}

.home__tableHeader {
    background-color: black;
    color: white;
    height: 50px;
}

.home__evenItem {
    background-color: #7FDBFF;
}

.home__done {
    cursor: pointer;
}

.tableLine__done {
    opacity: .7;
    background-color: green !important;
    color: lightblue !important;
}

.home__oddItem {
    background-color: #DDDDDD;
}

.home__table > t {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}

table, td, th {
    border: 1px solid black;
}

td {
    height: 50px;
    vertical-align: center;
    text-align: center;
}

.home__add {
    color: black;
    text-decoration: none;
    padding: 20px;
    width: 150px;
    background-color: greenyellow;
    text-align: center;
    transition: all ease-in-out .2s;
    cursor: pointer;
}

.home__add:hover {
    background-color: green;
    color: white;
}

.home__addLine {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 20px;
    max-width: 500px;
}

.home__addLineItem {
    display: flex;
    flex-direction: column;
}

.home__addLineItem label{
    margin: 10px 0;
}

.home__addLineItem input {
    height: 30px;
    border: none;
    border-bottom: 1px blue solid;
}

.home__addLineItem input:focus {
    outline: none;
}

.home__addLine button {
    height: 30px;
    margin-top: 20px;
    background-color: blue;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all ease-in-out .2s;
    width: 100px;
}

.home__addLine button:hover {
    background-color: aqua;
    color: black;
}

.home__formButtons button:nth-child(2) {
    background-color: red;
    color: white;
    width: 100px;
}

.home__formButtons button:nth-child(2):hover {
    background-color: aliceblue;
    color: black;
}
