.sparePartLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin-left: 20px;
}
.sparePart__take {
    height: 90%;
    width: auto;
    padding: 0px 20px;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    transition: all ease-in-out .2s;
}

.sparePart__take:hover {
    background-color: red;
}

.sparePart__add {
    height: 90%;
    width: auto;
    padding: 0 20px;
    background-color: green;
    color: white;
    cursor: pointer;
    transition: all ease-in-out .2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sparePart__add:hover {
    background-color: greenyellow;
    color: black;
}

.sparePartLine__dec {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.sparePartLine__dec input {
    width: 30px !important;
}

.sparePartLine__inc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100px;
}

.sparePartLine__inc input {
    width: 30px !important;
}